body{
	background-color: #6dd3e7;
	}
			
#title{
	background-color: white;
	border: 1em solid white;
	margin: 1em 10% 1em 10%;
	padding: 1px;
	border-radius: 2em;
	font-size: 3em;
	font-family: Arial;
	color: #6dd3e7;
	text-align: center;
	float: top;
	}

	
/*table{
	height: auto;
	width: 100%;
	border-collapse: collapse;
}

td{
	padding: 0;
	margin: auto;
}*/
	
#statusContainerBody{
	color: green;
}	

#mainContainer{
	width: 100%;
	height: 100px;
	border: 0px;
	padding: 0px;
	margin-left: 4%;
	margin-right: 4%;
}

.secondaryContainer{
	height: 100px;
	width: 280px;
	padding: 1px;
	border: 2px solid white;
	border-radius: 1em;
	margin-left: 1em;
	margin-right: 1em;
	display: inline-block;
	float: left;
	overflow: auto;
}
			
.secondaryContainerHead{
	height: auto;
	width: auto;
	font-size: 20px;
	font-family: Arial;
	color: White;
	position: absolute;
	float: left;
	margin: 10px;
}
			
.secondaryContainerBody{
	background-color: white;
	border: 1em solid white;
	margin: 50px;
	padding: 0px;
	border-radius: 2em;
	width: auto;
	font-size: 2em;
	font-family: Arial;
	color: #6dd3e7;
	text-align: center;
	position: absolute;
}
			